:root {
    --topInset: 35px;
    --sideInset: 80px;
    --channelHolderSize: 250px;
    --serverNameSize: 50px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: black;
    font-family:sans-serif;
}

/* header */

#header {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: var(--topInset);

    background-color: var(--headerColor);

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    z-index: 100;
}

#appContent {
    position: fixed;

    top: var(--topInset);
    left: 0;

    width: 100%;
    height: calc(100vh - var(--topInset));

    display: flex;

    overflow: hidden;
}

/* 
   server browser
*/

#serverBrowser {
    width: var(--sideInset);

    background-color: var(--serverBrowserColor);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    flex-shrink: 0;
}

.serverIcon {
    width: 48px;
    height: 48px;

    margin-top: 10px;

    background-color: yellow;
    background-size: cover;

    border-radius: 10px;

    cursor: pointer;

    transition: all 0.1s;
    border: 2px solid white;
}

.serverIcon:hover {
    border-radius: 20px;
}


/* channelholder */

#channelHolder {
    width: var(--channelHolderSize);

    background-color: var(--channelBrowserColor);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    flex-shrink: 0;
}

/* server name */

#serverName {
    height: var(--serverNameSize);

    background-color: var(--serverNameColor);

    display: flex;
    align-items: center;

    padding-left: 10px;

    flex-shrink: 0;
}

#serverNameSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* channels */

#channels {
    flex: 1;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.channel {
    min-height: 50px;

    background-color: var(--channelButtonColor);

    display: flex;
    align-items: center;

    border-bottom: solid 2px white;

    flex-shrink: 0;
    cursor:pointer;
}

.channelName {
    padding-left: 10px;
}

/*chat stuff*/

#chat {
    flex: 1;

    background-color: brown;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    min-width: 0;
}


#channelHeader {
    height: var(--serverNameSize);

    background-color: var(--chatHeaderColor);

    flex-shrink: 0;
}

#messageField {
    flex: 1;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--chatBackgroundColor);

    padding: 10px;
}

/* .message {
    min-height: 50px;

    background-color: rgba(255, 255, 255, 0.15);

    margin-bottom: 10px;

    position:relative;
} */

/* typing  */

#typingField {
    height: 70px;

    background-color: var(--chatInputAccent);

    padding: 5px;

    flex-shrink: 0;
}

#chatTextarea {
    width: 100%;
    height: 100%;

    resize: none;

    border: none;
    outline: none;

    padding: 10px;

    font-size: 16px;
    background-color: var(--chatInputBackground);
    color:white;
}

.messageProfile
{
    height:50px;
    width:50px;
}

.messagePFP
{
     background-image: url(https://avatars.githubusercontent.com/u/115603886?v=4);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
}

.message {
    min-height: 50px;

    background-color: rgba(255, 255, 255, 0.15);

    margin-bottom: 10px;

    display: flex;
    align-items: flex-start;

    padding: 10px;
    gap: 10px;
}

.messageContentWrapper {
    display: flex;
    flex-direction: column;

    min-width: 0;
    flex: 1;

    overflow-wrap: break-word;
}

/* #serverInformation {
    width: 250px;

    background-color: #222;

    flex-shrink: 0;

    overflow-y: auto;
} */

.messageUsername
{
    font-weight: bold;
}

.messageDate
{
    font-size:10px;
    font-weight: normal;
}

#SRD-Cosmetic
{
    position:absolute;
    bottom:-25px;
    left:var(--sideInset);
    margin:0 0;
    color:white;
    font-weight:bold;
}