:root {
    --topInset: 35px;
    --sideInset: 80px;
    --bottomInset:56px;
    --channelHolderSize:250px;
    --serverInfoSize:3px;
}

body
{
    background-color: black;
}

#header
{
    position: fixed;
    display: grid;
    left:0;
    top:0;
    width: 100%;
    height: var(--topInset);
    background-color: white;
    grid-template-columns: repeat(3,1fr);
}

#appContent
{
    position: fixed;
    top:var(--topInset);
    left:0;
    width: 100%;
    height: 100%;
}

/*server browser stuff*/

#serverBrowser
{
    position: relative;
    left: 0;
    top: 0;
    height: calc(100% - var(--bottomInset));
    background-color: green;
    width: var(--sideInset);
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    justify-content: center;
    overflow-y: scroll;
}

.serverIcon
{
    width:48px;
    height:48px;
    margin-top: 10px;
    background-color: yellow;
    background-size: cover;
    border-radius:10px;
    cursor:pointer;
    transition:all 0.1s;
}

.serverIcon:hover
{
    border-radius:20px;
}

/*channel information*/
#channelHolder{
    background-color:bisque;
    position:fixed;
    left:var(--sideInset);
    width:var(--channelHolderSize);
    height:100%;
    top:var(--topInset);
}

#chat
{
    background-color:brown;
    position:fixed;
    left:calc(var(--sideInset) + var(--channelHolderSize));
    width:100%;
    height:100%;
    top:var(--topInset);
}

#serverInformation
{

}